{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
	<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<div class="container d-flex justify-content-center mt-5 mb-5">
	<div class="col-md-7 col-lg-8 bg-white p-5 text-black">
		<h4 class="mb-3">Inscrivez-vous</h4>
		{{ form_start(registrationForm) }}
		<div class="row g-3">
			<div class="col-sm-6">
				{{ form_row(registrationForm.nom) }}
			</div>
			<div class="col-sm-6">
				{{ form_row(registrationForm.prenom) }}
			</div>

			<div class="col-12">
				{{ form_row(registrationForm.email) }}
			</div>

			<div class="col-12">
				{{ form_label(registrationForm.adresse, 'Adresse (*)', {'label_attr': {'class': 'fw-bold'}}) }}
                {{ form_row(registrationForm.adresse) }}
			</div>

			<div class="col-md-4">
				{{ form_label(registrationForm.ville, 'Ville (*)', {'label_attr': {'class': 'fw-bold'}}) }}
                {{ form_row(registrationForm.ville) }}
			</div>

			<div class="col-md-5">
				{{ form_label(registrationForm.pays, 'Pays (*)', {'label_attr': {'class': 'fw-bold'}}) }}
                {{ form_row(registrationForm.pays) }}
			</div>

			<div class="col-md-3">
				{{ form_label(registrationForm.codePostal, 'Code postal (*)', {'label_attr': {'class': 'fw-bold'}}) }}
                {{ form_row(registrationForm.codePostal) }}
			</div>
		</div>
        <div class="col-12 mt-3 mb-3">
		{{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
		{{ form_row(registrationForm.agreeTerms,{
                        label: 'Accepter les termes '
                    }) }}
        </div>
		<span>(*) : Champs non obligatoires.</span>
		<div class="text-center mt-3">
			<span>Déjà inscrit ? <a href="{{path('app_login')}}">Connectez-vous !</a></span><br>
		</div>
		<div class="text-center">
			<button class="btn bg-primary text-white m-4" type="submit">S'inscrire</button>
		</div>
		{{ form_end(registrationForm) }}
	</div>
</div>

{% endblock %}