{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Administration{% endblock %}

{% block body %}
   	<div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 bg-white p-4 m-3 text-primary rounded-5 shadow">
                <a href="{{path('administration')}}" class="btn btn-secondary border shadow"><i class="bi bi-arrow-left"></i> Administration</a>
                <h1 class="text-center text-primary fw-bold">Supprimer un client</h1>
                <div class="row mb-4 d-flex justify-content-between align-items-center mt-4 text-center">
                    <div class="col-3">
                        Nom
                    </div>
                    <div class="col-3">
                        Prénom
                    </div>
                    <div class="col-3">
                        Adresse
                    </div>
                    <div class="col-3">
                        Supprimer
                    </div>
                </div>
                <hr>
                {% for user in users %}
                    <div class="row mb-4 d-flex justify-content-between align-items-center mt-4 text-center">
                    <div class="col-3">
                        {{ user.nom }}
                    </div>
                    <div class="col-3">
                        {{ user.prenom }}
                    </div>
                    <div class="col-3">
                        {{ user.ville }}
                        {{ user.pays }}
                    </div>
                    <div class="col-3">
                        <a href="{{path('supprimer-client',{'id':user.id})}}" class="text-muted"><i class="bi bi-x"></i></a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>    
    </div>

{% endblock %}