{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Favoris
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<span class="text-center text-black fw-bold">Vos favoris
			{% if app.user.favoris|length > 1 %}({{app.user.favoris|length}}){% endif %}
		</span>
		{% if app.user.favoris|length == 0 %}
			<span class="text-center text-black fw-bold">Il semble que vous n'avez aucun favoris ;( </span>
		{% else %}
			<div class="row mb-4 d-flex justify-content-between align-items-center mt-4 text-center">
				<div class="col-2"></div>
				<div class="col-2">
					Article
				</div>
				<div class="col-2">
					Prix unité
				</div>
				<div class="col-2">
					Supprimer le favoris
				</div>
			</div>
			<hr>
			{% for a in app.user.favoris %}
				<div class="row mb-4 d-flex justify-content-between align-items-center mt-4 text-center">
					<div class="col-2">
						{% set url = 'articles/'~a.image[0].name %}
						<a href="{{path('article',{'id':a.id})}}"><img src="{{asset(url)}}" style="max-width: 100%; height: auto; object-fit: contain;"/></a>
					</div>
					<div class="col-2">
						<a href="{{path('article',{'id':a.id})}}" class="nav-link"><h6 class="text-muted">{{ a.type.libelle }}</h6>
						<h6 class="text-black mb-0">{{ a.designation }}</h6></a>
					</div>
					<div class="col-2">
						<h6 class="mb-0">{{ a.prix }}.00€</h6>
					</div>
					<div class="col-2">
						<a href="{{path('favori',{'id':a.id,'action':'supprimerFavoris'})}}" class="text-muted">
							<i class="bi bi-x"></i>
						</a>
					</div>
				</div>
				<hr>
			{% endfor %}
		
		{% endif %}
	</div>

{% endblock %}

