{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Femme{% endblock %}

{% block body %}
<section class="container-fluid d-flex justify-content-center p-0 m-0">
	{% include 'catalogue/sidebar.html.twig' %}
	<section class="p-0 mt-3 col-10">
		<div class="container-fluid px-0 px-lg-5 ">
			<div class="row gx-4 gx-lg-5 ">
				{% for article in articles %}
					{% if article.genre.libelle == 'Femme' %}
						{% if article.type.libelle == 'Chaussures' %}
							<div class="px-1 px-lg-2 col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-5">
								<a href="{{path('article',{'id':article.id})}}" class="nav-link">
									<div class="card border-0 rounded-0">
										{% set url = 'articles/'~article.image[0].name %}
										<img src="{{asset(url)}}" class="card-img-top rounded-0"/>
										<div class="card-body p-0" style="background-color:#f8f9fa;">
											<p class="card-text text-black mb-0">{{article.designation}}</p>
											<p class="card-text mb-0">{{article.genre.libelle}}</p>
											<p class="card-text text-black">{{article.prix}}€</p>
											{% if app.user %}
												{% if article in app.user.Favoris %}
													<a class="position-absolute top-0 end-0 p-1 m-1 fs-4" href="{{path('favori', {'id':article.id, 'action':'supprimer', 'page':'femme'})}}"><i class="bi bi-heart-fill text-black"></i></a>
												{% else %}
													<a class="position-absolute top-0 end-0 p-1 m-1 fs-4" href="{{path('favori', {'id':article.id, 'action':'ajouter', 'page':'femme'})}}"><i class="bi bi-heart text-black"></i></a>
												{% endif %}
											{% endif %}
										</div>
									</div>
								</a>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
</section>
{% endblock %}
